//Variables
$color1:rgb(91, 182, 243);
$color2:rgb(0, 64, 107);
$color3:steelblue;
$color4:black;
//Fin Variables
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 13px;
}

fieldset{
  border :none;
}

body{
  background-color: $color3;
  display: flex;
  justify-content: space-between;
  // opacity: .7;
}

.main,
.main2{
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 20px;
  white-space: nowrap;
}

.botonQuiniela{
  font-size: 13px;
  margin-left: -8px;
  border: none;
  outline: none;
  padding: 5px;
  width: 22px;
  height: 22px;
  color: $color4;
  background-color: $color1;
  transition: all .5s ease;
  &:hover{
    transform : rotate(720deg);
  }
  &:hover:disabled{
    transform : none;
  }
}

.botonRandomBasura{
  font-size: 13px;
  margin-left: -8px;
  border: none;
  outline: none;
  padding: 5px;
  width: 22px;
  height: 22px;
  background-color: $color3;
  
}

.filaCabeza{
  margin-bottom: 5px;
}

.random{
  background-image: url("../imagenes/dado6.png");
  background-size: 95%;
  background-repeat: no-repeat;
  transition: all .5s ease;
  &:hover{
    transform : rotate(360deg);
    background-image: url("../imagenes/dado3.png");
  }
  &:hover:disabled{
    transform : none;
  }
}

.basura{
  background-image: url("../imagenes/basura.png");
  background-size: 95%;
  background-repeat: no-repeat;
  transition: all .5s ease;
  &:hover{
    transform : rotate(360deg) scale(.9);
    background-image: url("../imagenes/basura2.png");
  }
  &:hover:disabled{
    transform : none;
  }
}

.resultado{
  margin-left: -8px;
  border: none;
  outline: none;
  padding: 5px;
  width: 64.5px;
  height: 22px;
  color: $color1;
  background-color: $color3;
}

.equipos,
.equiposR,
.Lresultado,
.random-basura{
  display: inline;
  margin-left: 5px;

}

.pleno{
  margin-top: 10px;
}

.grupoA{
  background-color: $color2;
  color: white;
}

.formulario1{
  width: 100%;
}

.formulario2{
  margin-top:58px;
  visibility: hidden;
}

.bloque{
  display: block;
  padding: 5px;
}

.mostrarGanadores, 
.ocultarGanadores,
.opcion{
  padding: 7px;
  border: none;
  outline: none;
  color: $color4;
  background-color: $color1;
  width: 150px;
  text-align: left;
}

.ocultarGanadores{
  margin-top: 20px;
}
.flexibles{
  display: flex;
  align-items: center;
}

.aleatorioAll{
  width: 50px;
  height: 50px;
  background-image: url("../imagenes/dado6.png");
  background-size: 100%;
  background-color: $color3;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  margin-left: 285px;
  transition: all .9s ease;
  &:hover{
    transform : rotate(360deg);
    background-image: url("../imagenes/dado3.png");
  }
  &:hover:disabled{
    background-image: url("../imagenes/dado6.png");
    transform : none;
  }
}

.borrarAll{
  width: 50px;
  height: 50px;
  background-image: url("../imagenes/basura.png");
  background-size: 100%;
  background-color: $color3;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  margin-left: 30px;
  transition: all .9s ease;
  &:hover{
    transform : rotate(-360deg) scale(1.1);
    background-image: url("../imagenes/basura2.png");
  }
  &:hover:disabled{
    transform : none;
    background-image: url("../imagenes/basura.png");
  }
}


.mostrarGanadores{
  display: block;
}

.opcion{
  margin-top: 0;
  width: 90px;
  text-align: center;
  &:disabled{
    background-color: gray;
  }
}

.doblesTriples{
  background-color: $color3;
  color: $color1;
  border: none;
  text-align: center;
}

.labelDoblesTriples{
  margin-left: 50px;
}

.dt{
  visibility: hidden;
}






